$white-color: #ffffff;
$dark-white-color: #f8f8f8;
$blue-color: #3369f3;
$light-blue-color: #e4edfd;
$grey-color: #999999;
$gray-color: #eaeaea;
$light-grey-color: #efefef;
$dark-color: #1e1e1e;
$overlay: #000000a0;
$red-color: #ff2f2f;

