$white-color: #FFFFFF;
$dark-white-color: #F8F8F8;
$blue-color: #3369F3;
$light-blue-color: #E4EDFD;
$grey-color: #999999;
$gray-color: #EAEAEA;
$light-grey-color: #EFEFEF;
$dark-color: #1E1E1E;
$overlay: #000000a0;
$red-color: #FF2F2F;

